.pokemons {
    text-decoration: none;
    color: var(--color-white);

    display: grid;
    grid-template-columns: 1fr 1fr;

    list-style: none;

    padding: 0;
    margin: 0;

    @media (min-width: 736px) and (max-width: 2000px) {

        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 0px) and (max-width: 414px) {

        grid-template-columns: 1fr;
    }


}

.pokemon {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: .3rem;

    background-image: url("/src/public/pokeball.png");
    background-repeat: no-repeat;
    background-position: right -1.5rem top 3rem;
    background-size: 60%;

    max-width: 100%;

    border-radius: 0.75em;
    cursor: pointer;

    font-weight: bold;

    @media (min-width: 736px) {
        max-width: 13rem;

    }

    @media (min-width: 393px) and (max-width: 735px) {}
}

.pokemon:hover {
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.26);
    transform: scale(1.05);
    transition: 0.5s;
}

/* .pokeball {
    position: relative;
    width: 5rem;

    top: -5rem;
    left: 6rem;
    z-index: 0;
} */

.pokemon .name {
    text-transform: capitalize;
    font-size: 1rem;
    position: relative;
    top: -1rem;

    text-transform: capitalize;
    margin: .25rem 0;

    @media (min-width: 0px) and (max-width: 736px) {
        font-size: .9rem;

    }
}

.pokemons .number {
    text-align: right;
    font-weight: 600;
    font-size: .8rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -.3rem;

    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    display: flex;
    flex-direction: column;
    align-self: baseline;

    position: relative;
    top: -.7rem;
    left: -.3rem;

    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    padding: .25rem .7rem;
    margin: .2rem;

    border-radius: 1rem;

    filter: brightness(1.1);
    color: var(--color-white);

    text-align: center;
    font-size: .8rem;
    font-weight: 600;

    @media (min-width: 0px) and (max-width: 736px) {
        font-size: .625rem;

    }
}

.detail img {
    max-width: 100%;
    height: 60px;
}

.modal-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(68, 172, 20, 0.895);
    filter: "progid:DXImageTransform.Microsoft.blur(MakeShadow='false', PixelRadius='3',ShadowOpacity='0.75')";
    backdrop-filter: blur(5px);

    z-index: 3;
}

.modal-pokemon .modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;


    width: 100%;
    height: 100%;


}

.modal-pokemon .modal-container img {
    position: relative;
    top: 3rem;
    z-index: 5;

    width: 12rem;

}

.modal-pokemon .modal-container .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 70%;

    background-color: var(--color-white);
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;

    background-color: var(--color-white);

    z-index: 4;
}

.modal-pokemon .modal-container .modal-content .modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: .2rem;

    width: 100%;

    margin-top: 3.5rem;

    width: 100%;

    padding: 0 1rem;
}

.modal-pokemon .modal-container .modal-content .modal-header .modal-header-name {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

.modal-pokemon .modal-container .modal-content .modal-header .modal-header-types {
    display: flex;
    flex-direction: row;
    gap: .5rem;

    font-weight: 600;
    color: white;
    font-size: 2rem;
}

.modal-pokemon .modal-container .modal-content .modal-header .modal-header-types .modal-header-type {
    padding: .01rem .8rem;

    border-radius: 1.4rem;

    filter: brightness(1.1);

    text-align: center;

    @media (min-width: 0px) and (max-width: 736px) {
        font-size: .950rem;

    }
}

.modal-pokemon .modal-container .modal-content .modal-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    width: 100%;

    margin-top: .4rem;

    width: 100%;

    padding: 0 1rem;


}

.modal-pokemon .modal-container .modal-content .modal-description p {
    font-size: .950rem;
    font-weight: 400;

    @media (min-width: 736px) and (max-width: 2000px) {
        font-size: 3rem;

    }
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    background-color: #6c79db;

    padding: .24rem .7rem;

    border: none;
    border-radius: .5rem;

    color: white;
    font-size: .925rem;
    font-weight: bold;
}

.pagination button:hover {
    background-color: #5c69c4;
}

.pagination button:disabled {
    background-color: #a6a6a6;
    color: #666666;
}

.pagination button:active {
    background-color: #8e98e7;
}

.hidden {
    display: none;
}